body {
  background: yellow;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  p {
    background-color: coral;
  }
  .card__wrapper {
    .card__container {
      background: darkblue;
      border: 1px solid red;
      color: #fff;
    }
  }
}